.master {
  font-family: Verdana;
}

h1 {
  font-family: Arial;
  margin-bottom: 10px;
}

.formInput {
  margin-bottom: 7px;
}

.queueTitle {
  font-family: Arial;
  margin-top: 20px;
  margin-bottom: 7px;
}

.queuedEvents {
  margin-top: 0px;
}
